* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
}

.wrapper {
  position: relative;
  /* max-width: 1200px; */
  width: 100vw;
  height: 400px;
  padding: 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  /* border: 1px solid #000; */
  overflow: hidden;
  z-index: 1000;
}

.item {
  position: absolute;
  padding: 10px;
  /* width: 20vw;
  height: 25vw; */

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  /* border: 1px solid #000; */
  transition: .4s;
}

.item h2 {
  text-align: center;
  font-size: 17px;
}

.item span {
  margin-top: 5px;
  font-weight: 500;
  color: #333;
}

.img_container {
  margin: 20px;
  width: 90%;
  height: 50%;
}

.img_container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.sliderBtn {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

  outline: none;
  /* border: 1px solid #000; */
  border: none;
  background-color: transparent;
  color: #000;
  z-index: 1001;

  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .item {
    width: 30vw;
    height: 30wv;
  }
}

@media only screen and (max-width: 420px) {
  .sliderBtn {
    width: 22px;
    height: 22px;
  }
}