* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  position: relative;
  max-width: 1200px;
  width: 100vw;
  height: 400px;
  padding: 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border: 1px solid #000;
  overflow: hidden;
}

.item {
  position: absolute;
  /* width: 20vw;
  height: 25vw; */

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  border: 1px solid #000;
  transition: .4s;
}

.img_container {
  margin: 20px;
  width: 80px;
  height: 80px;

  border-radius: 50%;
  overflow: hidden;
}

.img_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 800px) {
  .item {
    width: 30vw;
    height: 30wv;
  }
}